.cat-input {
    &:checked + .cat-button {
        @screen md {
            @apply bg-blue-3 text-white;
            border-radius: 8px;
            padding: 9px 16px;

            svg path {
                fill: #fff;
            }
        }
    }
}

.cat-button {
    min-width: 135px;
    padding: 9px 24px;
    width: 100%;

    @screen lg {
        padding: 9px 16px;
    }
}

.v--modal-box {
    background-color: #f7f8ff !important;
    padding: 60px 24px !important;
    border-radius: 0 !important;
}

.v--modal-overlay.scrollable .v--modal-box {
    margin-bottom: 0;
}

.v--modal-top-right {
    z-index: 10;
    padding: 1.5rem;
}
