html,
body {
    @apply h-full text-black-1 font-rubik;
}

.container {
    @apply w-full mx-auto px-4;
    max-width: 1035px;

    @screen xl {
        @apply px-0;
    }
}

.overlay {
    background-color: #f7f8ff;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    opacity: 0;
    pointer-events: none;

    &.active {
        opacity: 0.93;
        pointer-events: all;
    }
}

.no-scroll {
    overflow: hidden;
}

.modal-content {
    pointer-events: none;
    opacity: 0;

    &.active {
        pointer-events: all;
        opacity: 1;
    }
}
