html,
body {
    @apply h-full text-black-1 font-rubik;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container {
    @apply w-full mx-auto px-4;
    max-width: 1035px;

    @screen xl {
        @apply px-0;
    }
}

button {
    letter-spacing: 0.5px;
}

.overlay {
    background-color: #f7f8ff;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    opacity: 0;
    pointer-events: none;

    &.active {
        opacity: 0.93;
        pointer-events: all;
    }
}

.no-scroll {
    overflow: hidden;
}

.modal-content {
    pointer-events: none;
    opacity: 0;

    &.active {
        pointer-events: all;
        opacity: 1;
    }
}

.fake-select {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;

    &:before {
        content: '';
        position: absolute;
        right: 0;
        width: 9px;
        height: 5px;
        background-image: url("../images/seelct_arrow.svg");
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        margin-right: 16px;
        top: 50%;
        transform: translateY(-50%);
    }

    &:after {
        content: '';
        position: absolute;
        right: 0;
        width: 1px;
        height: 27px;
        background-color: #e0e3ec;
        top: 50%;
        transform: translateY(-50%);
    }
}

.cms {
    p {
        margin-bottom: 18px;
    }
}
