.profile-menu {
    @apply absolute top-0 right-0 bg-white p-24px w-250px text-black-1;
    z-index: 200;
    box-shadow: 0 2px 20px rgba(236, 237, 244, 0.04);
    margin-top: 60px;
}

.user-menu-mobile {
    padding-left: 40px;
    padding-top: 10px;

    .mb-3 {
        margin-bottom: 24px;
    }

    .text-12px {
        font-size: 14px;
    }

    a .mr-3 {
        margin-right: 24px;
    }
}
