.custom-switcher {
    display: flex;

    &:hover {
        cursor: pointer;
    }

    &-input {
        display: none;

        &:checked + .custom-switcher-wrap {
            .custom-switcher-circle {
                left: auto;
                right: 2px;
                background-color: #5aac44;
            }
        }
    }

    &-wrap {
        position: relative;
        display: block;
        width: 33px;
        height: 16px;
        border-radius: 9px;
        background-color: #ffffff;
        margin-right: 8px;
    }

    &-circle {
        position: absolute;
        left: 1px;
        top: 1px;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background-color: #e0e3ec;
        transition: all 0.3s;
    }

    &-2 {
        .custom-switcher-wrap {
            background-color: #eef2f9;
            width: 33px;
            height: 16px;

            @screen lg {
                width: 46px;
                height: 22px;
            }
        }

        .custom-switcher-circle {
            background-color: #fff;
            width: 14px;
            height: 14px;

            @screen lg {
                width: 20px;
                height: 20px;
            }
        }
    }
}
