.ad-type-wrap {
    width: 80%;

    @screen md {
        width: 90%;
    }

    @screen lg {
        @apply w-4/5 flex-1 pl-4;
    }
}

.settings-btn-wrap {
    width: 20%;
    @apply flex justify-end;

    @screen md {
        width: 10%;
    }

    @screen lg {
        @apply w-1/5 w-auto;
    }
}
